In [1]:
import pandas as pd
import os

In [2]:
# Load the stationary CSV file (not the cleaned one)
df = pd.read_csv('stationary_weather_data.csv', parse_dates=['date'])

In [3]:
df.head()

,date,location_id,temperature,rainfall,wind_speed,precipitation,temperature_diff
0,2010-01-01,0,26.0,0.0,12.2,0.0,NaN
1,2010-01-02,0,26.4,15.7,11.6,15.7,NaN
2,2010-01-03,0,28.0,0.0,13.0,0.0,NaN
3,2010-01-04,0,27.5,7.4,13.6,7.4,NaN
4,2010-01-05,0,27.7,9.6,10.3,9.6,NaN

In [4]:
# Get unique location IDs (or location names if available)
unique_locations = df['location_id'].unique()

In [5]:
# Folder to save location-wise CSVs
output_folder = 'location_wise_data'

In [6]:
# Create folder if it doesn't exist
os.makedirs(output_folder, exist_ok=True)

In [7]:
# Loop over each location and save its data separately
for loc in unique_locations:
    loc_df = df[df['location_id'] == loc].copy()
    if not loc_df.empty:
        # Make filename safe
        safe_loc_name = str(loc).replace(' ', '_').replace('[', '').replace(']', '')
        filename = f'location_{safe_loc_name}.csv'
        filepath = os.path.join(output_folder, filename)
        loc_df.to_csv(filepath, index=False)
        print(f'Saved {filepath} with {len(loc_df)} records')
    else:
        print(f'No data found for location_id: {loc}')

Saved location_wise_data\location_0.csv with 5273 records
Saved location_wise_data\location_1.csv with 5273 records
Saved location_wise_data\location_2.csv with 5273 records
Saved location_wise_data\location_3.csv with 5273 records
Saved location_wise_data\location_4.csv with 5273 records
Saved location_wise_data\location_5.csv with 5272 records
Saved location_wise_data\location_6.csv with 5273 records
Saved location_wise_data\location_7.csv with 5273 records
Saved location_wise_data\location_8.csv with 5273 records
Saved location_wise_data\location_9.csv with 5273 records
Saved location_wise_data\location_10.csv with 5273 records
Saved location_wise_data\location_11.csv with 5273 records
Saved location_wise_data\location_12.csv with 5273 records
Saved location_wise_data\location_13.csv with 5273 records
Saved location_wise_data\location_14.csv with 5273 records
Saved location_wise_data\location_15.csv with 5273 records
Saved location_wise_data\location_16.csv with 5273 records
Saved location_wise_data\location_17.csv with 5273 records
Saved location_wise_data\location_18.csv with 5273 records
Saved location_wise_data\location_19.csv with 5273 records
Saved location_wise_data\location_20.csv with 5273 records
Saved location_wise_data\location_21.csv with 5273 records
Saved location_wise_data\location_22.csv with 5273 records
Saved location_wise_data\location_23.csv with 5273 records
Saved location_wise_data\location_24.csv with 5273 records
Saved location_wise_data\location_25.csv with 5273 records
Saved location_wise_data\location_26.csv with 5273 records