In [1]:
import pandas as pd

df = pd.read_csv("../data/weatherData.csv")

In [2]:
df.shape

(142371, 21)

In [3]:
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142371 entries, 0 to 142370
Data columns (total 21 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   location_id                      142371 non-null  int64
 1   date                             142371 non-null  object
 2   weather_code (wmo code)          142371 non-null  int64
 3   temperature_2m_max (°C)          142371 non-null  float64
 4   temperature_2m_min (°C)          142371 non-null  float64
 5   temperature_2m_mean (°C)         142371 non-null  float64
 6   apparent_temperature_max (°C)    142371 non-null  float64
 7   apparent_temperature_min (°C)    142371 non-null  float64
 8   apparent_temperature_mean (°C)   142371 non-null  float64
 9   daylight_duration (s)            142371 non-null  float64
 10  sunshine_duration (s)            142371 non-null  float64
 11  precipitation_sum (mm)           142371 non-null  float64
 12  rain_sum (mm)                    142371 non-null  float64
 13  precipitation_hours (h)          142371 non-null  int64
 14  wind_speed_10m_max (km/h)        142371 non-null  float64
 15  wind_gusts_10m_max (km/h)        142371 non-null  float64
 16  wind_direction_10m_dominant (°)  142371 non-null  int64
 17  shortwave_radiation_sum (MJ/m²)  142371 non-null  float64
 18  et0_fao_evapotranspiration (mm)  142371 non-null  float64
 19  sunrise                          142371 non-null  object
 20  sunset                           142371 non-null  object
dtypes: float64(14), int64(4), object(3)
memory usage: 22.8+ MB

,location_id,weather_code (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),daylight_duration (s),sunshine_duration (s),precipitation_sum (mm),rain_sum (mm),precipitation_hours (h),wind_speed_10m_max (km/h),wind_gusts_10m_max (km/h),wind_direction_10m_dominant (°),shortwave_radiation_sum (MJ/m²),et0_fao_evapotranspiration (mm)
count,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000
mean,13.000000,44.891586,29.295854,23.120601,25.730017,33.560477,26.362139,29.234477,43645.975220,34676.319743,5.442717,5.442717,7.337955,16.461730,37.118828,177.723567,18.933608,4.115296
std,7.788908,22.840879,3.352774,3.165760,2.954064,4.183799,4.196010,3.837440,1099.470021,8910.054804,10.286371,10.286371,6.861958,6.828743,11.676963,95.393165,4.398970,1.179600
min,0.000000,0.000000,14.100000,5.300000,12.100000,11.000000,2.000000,9.500000,41610.710000,0.000000,0.000000,0.000000,0.000000,2.300000,9.400000,0.000000,1.120000,0.380000
25%,6.000000,51.000000,27.700000,22.000000,24.700000,31.400000,25.100000,27.900000,42607.350000,32883.955000,0.200000,0.200000,1.000000,11.400000,28.100000,78.000000,16.570000,3.350000
50%,13.000000,53.000000,29.300000,23.800000,26.200000,33.900000,27.600000,30.100000,43648.880000,38819.230000,1.800000,1.800000,6.000000,15.600000,35.300000,209.000000,19.710000,4.110000
75%,20.000000,61.000000,31.300000,25.200000,27.600000,36.300000,29.100000,31.600000,44685.075000,39898.010000,6.500000,6.500000,12.000000,20.400000,44.300000,247.000000,22.090000,4.890000
max,26.000000,65.000000,40.300000,30.300000,32.700000,46.100000,35.600000,37.700000,45676.100000,42231.340000,321.800000,321.800000,24.000000,60.700000,123.500000,360.000000,29.400000,8.450000

In [4]:
df.isnull().sum()

location_id                        0
date                               0
weather_code (wmo code)            0
temperature_2m_max (°C)            0
temperature_2m_min (°C)            0
temperature_2m_mean (°C)           0
apparent_temperature_max (°C)      0
apparent_temperature_min (°C)      0
apparent_temperature_mean (°C)     0
daylight_duration (s)              0
sunshine_duration (s)              0
precipitation_sum (mm)             0
rain_sum (mm)                      0
precipitation_hours (h)            0
wind_speed_10m_max (km/h)          0
wind_gusts_10m_max (km/h)          0
wind_direction_10m_dominant (°)    0
shortwave_radiation_sum (MJ/m²)    0
et0_fao_evapotranspiration (mm)    0
sunrise                            0
sunset                             0
dtype: int64

In [21]:
# df.dropna(inplace=True)  # drops rows
# df.drop(columns=['column_name'], inplace=True)  # drops column

In [22]:
df.drop_duplicates(inplace=True)